---
import close from "../assets/images/close.png";
import logoWhite from "../assets/images/logoWhite.png";
import digital from "../assets/images/digital.png";
import triangle from "../assets/images/triangle.png";
---
<div
  class="contactUsSection absolute top-0 left-0 w-[100%] h-[100vh] opacity-0"
>
  <div
    class="contactUsContent relative bg-opacity-75 bg-deep-purple-accent-700"
  >
    <div class="w-100 h-10 p-10 pb-0 flex items-center">
      <img src={logoWhite} width="100px" height="60px" alt="logo" />
      <img
        src={close}
        alt="close sign"
        width="20px"
        class="contactUsCloseButton ml-auto hover:cursor-pointer hover:scale-105"
      />
    </div>
    <div
      class="relative py-8 mx-auto overflow-hidden sm:max-w-xl md:max-w-full lg:max-w-screen-xl"
    >
      <div
        class="flex flex-col items-center justify-center px-10 lg:flex-row xl:flex-row 2xl:flex-row"
      >
        <div class="w-5/12 hidden lg:block xl:block 2xl:block">
          <div
            class="bg-white bg-opacity-20 backdrop-blur-sm drop-shadow-lg p-7 h-[70vh] sm:p-10"
          >
            <div class="flex flex-col">
              <h2 class="text-white mb-4 text-3xl font-semibold mt-4 w-[50%]">
                Let's talk digital.
              </h2>
              <hr class="pb-4 border-gray-400" />
              <p class="text-gray-300 py-4 text-justify">
                Looking to elevate your digital presence? Look no further than
                Mascot. Whether you're looking to build a website, develop an
                app, or enhance your UI/UX, we're here to help. Contact us now
                to get started and let's make your digital dreams a reality.
              </p>
              <img
                src={digital}
                width="80px"
                height="80px"
                alt="digital"
                class="self-center opacity-40"
              />
            </div>
          </div>
        </div>
        <div class="w-[97vw] sm:w-full  md:w-full lg:w-7/12 xl:w-7/12 2xl:w-7/12 relative">
          <div
            class="bg-gray-900 h-[80vh] bg-opacity-20 backdrop-blur-sm drop-shadow-lg p-8 sm:p-10 flex relative"
          >
            <div class="w-[80%]">
              <h2 class="text-white mb-4 text-4xl font-semibold mt-4">
                Contact Mascot
              </h2>
              <p class="text-white pb-4 text-justify">
                Get in touch with us today! Simply fill out our contact form
                below and we'll get back to you as soon as possible.
              </p>
              <form>
                <div class="mb-1 sm:mb-2 pb-2">
                  <input
                    placeholder="Full Name"
                    required=""
                    type="text"
                    class="flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-transparent border-b text-white"
                    id="firstName"
                    name="firstName"
                  />
                </div>
                <div class="mb-1 sm:mb-2 py-2">
                  <input
                    placeholder="E-mail"
                    required=""
                    type="text"
                    class="flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-transparent border-b text-white"
                    id="email"
                    name="email"
                  />
                </div>
                <div class="mb-1 sm:mb-2 py-2">
                  <textarea
                    placeholder="Message"
                    class="flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-transparent border-b text-white"
                    id="message"
                    name="message"></textarea>
                </div>
                <div class="mt-4 mb-2 sm:mb-4">
                  <button
                    type="submit"
                    class="inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white text-lg transition duration-200 rounded shadow-md bg-gradient-to-r from-purple-700 to-blue-700 hover:bg-blue-500 focus:shadow-outline focus:outline-none"
                  >
                    Send
                  </button>
                </div>
                <p class="text-white text-xs text-whitesm:text-sm">
                  We respect your privacy.
                </p>
              </form>
            </div>
            <div class="w-[20%] h-[100%] px-4 relative">
              <div
                class="absolute w-[100%] right-0 top-0 h-[100%] flex flex-col items-center justify-center"
              >
                <hr class="w-[80px] rotate-90 border-[1.2px] mb-[55px]" />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="white"
                  class="w-5 pb-4 twitter"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
                  ></path>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="white"
                  class="w-5 pb-4 instagram"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
                  ></path>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="white"
                  class="w-5 pb-4 github"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                  ></path>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="white"
                  class="w-5 facebook"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                  ></path>
                </svg>
                <hr class="w-[80px] rotate-90 border-[1.2px] mt-[55px]" />
              </div>
            </div>
            <img
            src={triangle}
            width="30px"
            height="30px"
            alt="triangle"
            class="absolute top-2 right-2 opacity-40"
          />
          <img
            src={triangle}
            width="30px"
            height="30px"
            alt="triangle"
            class="absolute bottom-2 right-2 rotate-90 opacity-40"
          />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .contactUsSection {
    clip-path: circle(10%);
    background-color: rgb(174, 152, 213);
    display: none;
  }
  .contactUsContent {
    opacity: 0;
  }
  #map {
    height: 180px;
  }
</style>
<script>
  const contactUsButtons = document.querySelectorAll(".contactUsButton");
  for (var i = 0; i < contactUsButtons.length; i++) {
    contactUsButtons[i].addEventListener("click", function () {
      var tl = gsap.timeline({ defaults: { duration: 2 } });
      tl.to(".contactUsSection", {
        clipPath: "circle(100%)",
        display: "block",
        zIndex: 1,
        opacity: 1,
        background:
          "linear-gradient(315deg, rgba(61,110,237,1) 0%, rgba(59,0,80,1) 100%)",
      });
      tl.to(".contactUsContent", { opacity: 1 }, ">0.1");
    });
  }
  document
    .querySelector(".contactUsCloseButton")
    .addEventListener("click", () => {
      var tl = gsap.timeline({ defaults: { duration: 2 } });
      tl.to(".contactUsSection", {
        clipPath: "circle(0%)",
        display: "none",
      });
    });
</script>
