---
import react from '../assets/images/react.webp'
import aws from '../assets/images/aws.webp'
import graphql from '../assets/images/graphql.webp'
import astro from '../assets/images/astro.webp'
import mongodb from '../assets/images/mongodb.webp'
import figma from '../assets/images/figma.webp'
import blender from '../assets/images/blender.webp'
import wordpress from '../assets/images/wordpress.webp'
import docker from '../assets/images/docker.webp'
import threejs from '../assets/images/threejs.webp'

---
<div class=" pb-24 mt-24">
  <hr class=" mx-64 pb-24 border-blue-800 opacity-50">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 text-gray-100">Our technologies consist of the latest :</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={threejs} alt="threejs" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={astro} alt="astro" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={react} alt="react" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={wordpress} alt="wordpress" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={aws} alt="aws" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={docker} alt="docker" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={graphql} alt="graphql" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={mongodb} alt="mongodb" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={figma} alt="figma" width="158" height="48">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={blender} alt="blender" width="158" height="48">     
    </div>
  </div>
</div>